// new global colors etc. can be added here
// don´t put CSS here
// ToDo
//@import "../node_modules/bulma/sass/utilities/initial-variables";
//@import "../node_modules/bulma/sass/utilities/functions";

$my-blue: #05668d;
$my-blue-invert: findColorInvert($my-blue);
$my-lightgreen: #edf6f9;
$my-lightgreen-invert: findColorInvert($my-lightgreen);
$my-darkgreen: #006d77;
$my-darkgreen-invert: findColorInvert($my-darkgreen);
$my-green: #83c5be;
$my-green-invert: findColorInvert($my-green);

$my-background: #edf6f9;
$my-background-invert: findColorInvert($my-background);

$secondary: #f8e9d8;
$secondary-invert: findColorInvert(#f8e9d8);
$secondary-light: findLightColor(#f8e9d8);
$secondary-dark: findDarkColor(#f8e9d8);

// this adds the is-orange class
$custom-colors: (
  "orange": (
    $my-blue,
    $my-blue-invert,
  ),
  "secondary": (
    $secondary,
    $secondary-invert,
    $secondary-light,
    $secondary-dark,
  ),
);

//change the primary color
$primary: $my-darkgreen;
