// new global colors etc. can be added here
// don´t put CSS here
// ToDo
//@import "../node_modules/bulma/sass/utilities/initial-variables";
//@import "../node_modules/bulma/sass/utilities/functions";

$my-orange: #EF8C27;
$my-orange-invert: findColorInvert($my-orange);
$my-grey: #C8C3C0;
$my-grey-invert: findColorInvert($my-grey);
$my-darkGrey: #61545E;
$my-dakGrey-invert: findColorInvert($my-darkGrey);
$my-blue: #8CA3D5;
$my-blue-invert: findColorInvert($my-blue);

$my-background: #f3f0ef;
$my-background-invert: findColorInvert($my-background);


$secondary: #f8e9d8;
$secondary-invert: findColorInvert(#f8e9d8);
$secondary-light: findLightColor(#f8e9d8);
$secondary-dark: findDarkColor(#f8e9d8);

// this adds the is-orange class
$custom-colors: (
  "orange": (
    $my-orange,
    $my-orange-invert,
  ),
  "secondary": (
    $secondary,
    $secondary-invert,
    $secondary-light,
    $secondary-dark,
  ),
);

 //change the primary color
$primary: $my-darkGrey;
