@use "./src/styles/global-vars" as var;

.introduction-element {
  width: 250px;
  height: auto;
  min-height: 400px;
  background-color: var.$my-blue;
  border: solid 2px var.$my-darkGrey;
  border-radius: 3px;
  padding: 20px;
  margin: 0 15px 30px 15px;


  .introduction-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .introduction-image {
    border: solid 2px var.$my-darkGrey;
  }

  //
  //.subtitle {
  //  font-size: 15px;
  //}
}
