//@import "./src/styles/global-vars";
// background-color: $my-background;
@use "./src/styles/global-vars" as var;

.layout {
  .mainLayoutContainer {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
    width: 100%;
    background-color: var.$my-background;
  }

  .backToHome {
    padding: 1rem;
    background-color: $my-darkgreen;
  }
}
